*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 .contanier1{
  /* border: 3px solid red; */
background-image: url(../imga/back.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;

  height: 100vh; 
}

header{
  width: 100%;
  height: 55px;
 background-color:rgb(223, 223, 213) ; 
  position: fixed;
  top: 0;
  left: 0;
}
.loge{
 font-size: 20px;
 text-decoration: none;
 text-transform: capitalize;
 color: white;   
}
.content{
  width: 60%;  
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%,-50%); 

}
.content h2{
    font-size: 60px;
  color: whitesmoke;  
  text-transform: uppercase;
}
.content span{ 
    color: #c7791b;
    font-size: 60px;
}
p{
 font-size: 20px;  
 color: wheat; 
 margin-bottom: 20px;
}
.btn{
 width: 130px; 
  height: 50px; 
  border-radius: 7px;
  font-size: 15px;
  text-transform: capitalize;
  border: 0;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
 border-bottom-color:white ;   
}
.btn2{
    background-color:#4219f7 ;
    color: white;

}
.btn:hover{
    opacity: 0.6;
   cursor: pointer; 
}
.list1{
    float: right;
    margin-right: 150px;
    margin-top: 15px;
   
}
.list1 li{
 list-style: none; 
  display: inline-block; 
  margin-left: 50px;
  color: #4a0000;
  text-transform: capitalize;

}
.list1 li a{
 text-decoration: none;
 color: #b3b3b3;
}
/* ------------------------------------------------------------------------------------------------- */
.contanier2{
  width: 100%;
  height: 100vh;
  background-color: blue;
  margin: auto;
 background-color: #f4f4f4; 

}

.print-sec2{
  width: 100%;
  height: 100vh;

}
.title-sec2{
  font-size: 55px;
  color: #e4b95b;
  font-weight: 600;
  text-align: center;
  padding-top: 100px;
text-transform: capitalize;
}
.contanier2 img{
  position: absolute;
  right: 100px;

}
.contanier2 .p10{
  font-size: 30px;
  color: #e4b95b;
}

 .about-content2{
 /* float: left; */
 /* border: 2px solid red; */
 width: 500px;
height: 300px;
float: left;
margin:100px;

 
}
.img-sec2{
  /* border: 3px solid blue; */
  width: 400px;
  height: 400px;
  float: right;
  margin: 60px;

}

 h2{
  font-size: 40px;
  color: #383848;
  margin-bottom: 20px;
  margin-top: 30px;
} 
.btn2{
color: #fff;
background-color: #383848;
margin-top: 2rem;
text-decoration: none;
border-radius: 15px;
padding: 15px 30px;

}
.btn:hover{
background-color: #e4b95b;  
}
.p10{

  color: #9a9a9a;
 margin-right: 7rem;
 font-weight: 500; 
 line-height: 1.6;
 text-align: center;
}

/* ------------------------------------------------------------ */

.sec3{
  /* border: 3px solid red; */
  width: 100%;
  height: 100vh;
}
.cen{
  margin: 0 5%;
}
.img-sec3{
  /* border: 3px solid red */

}
.img-sec3 img{
  width: 100%;


}
.offer-div{
 /* border: 3px solid blue; */
  overflow: auto;
  padding-top: 70px;
  width: 80%;
  margin: auto;

 
}
.box{
  /* border: 3px solid greenyellow; */
  float: left;
  width: 30%;
}
.offer-div h2{
 color: #e4b95b; 
 font-size: 40px;
 margin-bottom: 50px;
 text-align: center;
margin-top:-40px;
}
.info-offer{


color: #fff;
text-align: center;

}
.info-offer .wer{
  font-size: 25px;
  margin: 15px 0;
}
.info-offer p{
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

span{
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  color: #e4b95b;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
.about{
  width: 100%;
 height: 100vh;
 background-image: url(../imga/parg.jpg); 
 

}
.products{
  float: left;
}

 .title-about2{
color: #c7791b;
font-size: 50px;
/* margin-bottom: 20px; */
text-transform: capitalize;

margin-left: 50px;
margin-top: 200px;

}
.products p{
  color: white;
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
 text-transform: capitalize; 
 margin-left:50px ;
 /* margin-top: 100px; */
 margin-top: 50px;

}
.container-day{
  display: flex;
  align-items: center;
  height: 40vh;
  background-image: url(../imga/par.jpg);
 justify-content:space-evenly ; 
 color: #fff;
 text-align: center;
}
.day-time{
  font-size: 32px;
 margin: 20px 0 10px ; 
}
.day-p{
  font-weight: 500;
}
.gallery{
  width: 100%;
  height: 100vh;
  padding: 8rem 6rem;
  background-image: url(../imga/bake3.jpg);

}
.gallery h2{
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.img-gallery img{
  width: 30%;
  height: 150px;
border-radius: 15px;
margin: 20px;
opacity: 0.8;
}

.galler.img-gallery img:hover{
  opacity: 1;
}
/* ///////////////////////////////////////////////////////////// */
.container-pot{
  background-color: #f4f2ed;
  padding: 5rem  o;
}
.contact-content{
  max-width: 900px;

}
.container-pot.contact-content{
 float: left; 
 justify-content: space-between;
}
.contact-content.contact-info{
  width: 50%;
}
.content-text{
  margin: 10px 0;
 line-height: 1.7; 
}
 .content-text.text{
  font-size: 20px;
  color: #383848;
  margin-bottom: 10px;
 }
 .content-text p{
  color: #9a9a9a;
 }
 .content-text p i{
  color: #e4b95b;
  margin-right: 5px;
 }
 .content-text a i{
  color: #fff;
  background-color: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
 }
 
 .content-text a i:hover {
  background-color:#e4b95b ;
  color:#383848 ;
 }
 .from{
  width: 50%;
 }
 .from input{
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0 ;
  border: none;
  background: color #e3e2e3; 
 }
 form input:focus{
  outline:none ;
 }
.from button{
  color: #fff;
}
/* ///////////////////////////////////////////////////////////// */
 .number{
  position: relative;
background-image: url(../imga/coffe.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
  margin-top: 120px;
}
.numbers-itme{
  overflow: hidden;
  padding: 100px 0;
}
.number-itme{
  width: 25%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.number-itme .ic{
  color: #6195ff;
  margin-bottom: 15px;
}

.number-itme-tille{
  font-weight: bold;
 font-size: 25px; 
 margin-bottom: 15px;
 color: white;
}
.number-itme-text{
  color: white;
  font-size: 30px;
  margin-bottom: 5px;
}
/* ///////////////////////////////////////////////////////////////////////////// */
.sec-header{
  text-align: center;
}
.sec-header .sec-title{
 font-size: 30px;
 text-transform: capitalize;
 margin-bottom: 30px;
 margin-top: 30px;
}
.sec-line{
  width: 180px;
  height: 3px;
 margin:0 auto 70px auto; 
 background-color: blue;
 margin-bottom: 55px;
 margin-top: -15;
 border-radius: 50%;
}
.continer-offer{
  width: 80%;
  margin: auto;
}
.offer-content{
  overflow: hidden;
}
.offer-item{
  width: 30%;
  float: left;
margin-bottom: 20px;
border: 1px solid #a8a8a8;
padding: 30px 15px 30px 70px ;
position: relative;
}
.offer-item.mg{
  margin: 0px 5%;
}
.offer-item .offer-item-title{
  font-size: 20px;
  color: #888;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.offer-item-des{
  margin-bottom: 15px;
 text-transform: capitalize; 
line-height: 1.6;
color: #a8a8a8;
}
.icon{
  position: absolute;
  left: 15px;
  top: 30px;
  color: #6195ff;
  background-color: #f9f9f9;
  margin-top: 4px;
}
.offer-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width:0 ;
background-color: #333;
opacity: 0;
transition: 2s;  
}
.offer-item:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5; 
}
/* ///////////////////////////////////////////////////////// */
.continer-pricing{
  width: 80%;
 margin: auto; 
}

.pricing-plans{
  overflow: hidden;
  
}
.pricing-item{
  width: 30%;
  float: left;
 padding: 20px 10px ; 
 border:1px solid#a8a8a8 ;
 text-align: center;
 background-image: url(../imga/meat2.jpg);
 position: relative;
}
.continer-pricing .mg{
  margin: 0px 5%;
}
.pricing-item-text{
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}
.pricing-item-mouth{
  width: 130px;
  height: 130px;
 padding: 20px 0;
 margin: 40px auto;
 border: 2px solid #6195ff;
 border-radius: 50%;
 
}
.doller{
font-size: 30px; 
margin-bottom: 5px; 
color: #fff;

}
.mouth{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color:#fff;
}
.pricing-list{
  list-style: none;
}
.pricing-list li{
  color: #fff;
  line-height: 1.8;
  font-size: 30px;
}
.pricing-btn{
  background: none;
  border: 0;
  display: block;
  width: 140px;
 border: 2px solid #6195ff; 
 padding: 10px;
 margin: 15px auto 0 auto;
 color: #fff;
}
/* //////////////////////////////////////////////////////////////////// */
.pricing-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width:0 ;
background-color: #333;
opacity: 0;
transition: 5s;  

}
.pricing-item:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5; 
}
.pricing-item::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width:0 ;
background-color:red;
opacity: 0;
transition: 5s;  

}
.pricing-item:hover::before{
  width: 100%;
  height: 100%;
  opacity: 0.5; 
}
/* /////////////////////////////////////////////////////////////////////////////// */

.blog{
  background-color: #f8f8f8;
}
.container-blog{
  width: 80%;
  margin: auto;
}
.blog-item{
  width: 30%;
  float: left;
  background-color: #f9f9f9;
position: relative;  
}
.blog-item-img img{
  width: 100%;
}
.contant-blog{
  overflow: hidden;
}
.blog-list{
list-style: none;  
  margin: 10px 0 ;
}
.blog-list li{
  display: inline-block;
  margin: 0 5px;
}
.blog-info{
  padding: 20px;
}
.blog-list li i{
  color: #6195ff;
  font-size: 20px;
  background-color: #f9f9f9;
}
.biog-titlle{
  font-weight: bold;
  margin: 20px 0;
  text-transform: capitalize;
}
.blog-text{
  color: #999;
  margin-bottom: 10px;
  line-height: 1.5;
  text-transform:capitalize ;
}
.blog-link{
  color: #6195ff;
  text-transform: capitalize;
  text-decoration: none;
}
 .mg2{
  margin: 0px 5%;
}
.blog-item::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  transition: 2s;
  opacity: 0;
  background-color: #333;

}
.blog-item:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.blog-item::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom:0 ;
  right: 0;
  transition: 2s;
  opacity: 0;
  background-color: #6195ff;
}
.blog-item:hover::before{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
/* //////////////////////////////////////////////////////////////// */
.finsh{
  background-color: #333;
  text-align: center;
  margin-top: 40px;
}
.finish-list{
  list-style: none;
  margin: 20px 0px;
}
.finish-list li{
  display: inline-block;
}
.finish-list li a{
  display: block;
  width: 50px;
  height: 50px;
  background-color: #6195ff;
  color: #f9f9f9;
   margin: 5px 5px;
  border-radius: 50%;
}
.finish-list li i a{
  line-height: 50px;
}
.finish-list li i{
  font-size: 30px;
margin-top: 10px;
}
.finish-text{
  color: #999;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}


